
*
{
    margin: 0;
    padding:0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration:none;
}

.wrapper 
{
    width:940px;
    margin:0 auto;
    padding:0 10px;
}

.orange
{
    color:#ff7a00
}

h1
{
    font-size:45px;
    color:#444;
    font-family:'Crete Round'
}



body
{
    font-size : 15px;
    font-family: Arial, sans-serif;
}

/* BORDERS */
header
{
    outline:1px red solid
}
header .wrapper 
{
    outline:1px blue solid
}

/* HEADER */
header
{
    height:120px;
    padding:0;

}
header h1
{
    margin-top:32px;
    float:left
}
header nav
{
    float:right;
    margin-top:50px;
}
header ul li
{
    margin-right:20px;
    float:left;
}
header ul li a 
{
    text-transform:uppercase;
    color:#444;
    font-weight:bold;
}