/* ALL PAGES - GENERAL */
html {
    font-size: 16px;
    font-family: var(--font-2);
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-3);
}

h1 {
    font-family: var(--font-1);
    color: var(--color-8);
}

h2 {
    font-family: var(--font-6);
}

p {
    font-size: 1.1rem;
    font-family: var(--font-2);
}

p>q,
p>cite {
    color: var(--color-8);
    /* 状拽状 状住状 砖爪 砖专转 转 状驻专祝状,  爪注 */
    font-weight: bold;
}

cite a {
    color: inherit; /*砖砖 拽  砖 拽砖专 转 住 专砖 转 爪注 (砖转 8) 驻   砖专.*/
}


dt {
    font-weight: bold;
    color: var(--color-8);
    margin-top: 0.5rem; /* 专  专转 */
}

dd {
    color: var(--color-10);
    font-style: italic;
}

:root {
    /* FONTS */
    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Cardo', serif;
    --font-3: 'Lato', sans-serif;
    --font-4: 'Playfair Display', serif;
    --font-5: 'Abril Fatface', serif;
    --font-6: 'Yeseva One', serif;
    /* COLOR PALETTE */
    --color-1: #F8F9FA;
    /* Header + Footer bg-color*/
    --color-2: #E9ECEF;
    /*.Table-1 color*/
    --color-3: #F8F0E3;
    /* Main-Article-1 color*/
    --color-4: #D3E3FC;
    --color-5: #e25055;
    --color-6: #E5989B;
    /*.Table-1 + img border color*/
    --color-7: #591F0B;
    /* Img Section list*/
    --color-8: #006D77;
    --color-9: #D3E3FC79;
    /* Color 4 + opacity*/
    --color-10: #144552;
    --color-11: #E5989B84;
    /* Color 5 + opacity*/
    --color-12: #FF3C3C76;
    /* nav button border color */
    --color-13: #FAEBD7;
    /* Light Beige - Form Background */
    --color-14: #DEEBF7;
    /* Light Blue - Fieldset/Section Background */
    --color-15: #FFFFFF;
    /* White - Input Background */
}

.Underlined {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--color-7);
    text-shadow: 3px 1px 1px var(--color-2);
    color: var(--color-5);
    line-height: 1.2;
    text-transform: capitalize;
    margin: 1.5rem 0;
    /*驻注  专拽 0.5  专壮 拽驻住*/
}

/** ALL PAGES' HEADER **/
header {
    background-color: var(--color-1);
    position: relative;
    padding: 0.5rem;
    margin: auto;
}

header h1 span {
    color: var(--color-6);
    /*爪注 砖 转 专砖 砖  */
    text-shadow: -1px 1px var(--color-7);
}

header nav {
    position: absolute;
    /*驻砖 住  砖状爪祝状 爪 */
    right: 0.7rem;
    top: 0.3rem !important;
    padding: 0.5rem 0;
}

header nav ul li {
    background-color: var(--color-8);
    /* 爪注 专拽注 驻转专  */
    list-style: none;
    display: inline-block;
    margin: 0 0.1rem;
    /* 砖 */
    /* 专  驻转专  */
    border-radius: 14px;
    border: 1px solid var(--color-12);

}

header nav ul li:hover {
    /* 专 爪注 专拽注 砖 驻转专 + 转 */
    background-color: var(--color-10);
    transition: 0.5s;
    border: 2px solid var(--color-8);
}

header nav a {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    /* 驻 驻转专 */
    display: inline-block;
    color: var(--color-4);
    font-family: var(--font-6);
    font-size: 0.8rem;
    /* 爪注 拽住 驻转专 */
}

header nav a:hover {
    /* 专 拽住 驻 */
    color: var(--color-1);
    padding: 0.4rem 1.5rem;
    transition: 0.5s;
}


/* MAIN-ARTICLE-1 CLASS (USED IN: INDEX, ABOUT, CONTACT)*/
/*住拽专 - 砖转砖转 拽住 专拽 砖砖拽转  砖专  转 砖砖 专 拽转.  砖 砖驻转 住专 砖砖 专 专转 转 驻 住 砖 专拽 注 #*/
.Main-Article-1 {
    background-color: var(--color-3);
    padding: 1.2rem;
    /*专拽 住祝 驻 爪注 专拽注  砖驻砖专 拽转 砖转砖  砖*/
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.Main-Article-1 section:not(:first-of-type):not(:last-of-type) {
    max-width: 726px;
    margin: 0 auto;
    padding: 0 0.2rem;
    /*驻 爪 砖专 驻  住*/
}

.Main-Article-1 section:first-of-type,
.Main-Article-1 section:last-of-type {
    padding: 0 0.2rem;
    margin: 0 auto;
}

/* INDEX PAGE ONLINE ATTACK SECTION */
#Online-Attack-Section {
    margin: 0 auto 1rem;
    /*专 转  砖 */
}

#Online-Attack-Section p {
    padding: 0.3rem 0 0.9rem;
}

#Online-Attack-Section p:not(:first-of-type) {
    /*  转 住拽专  !!!*/
    text-indent: 1.3rem;
    /*拽专  注 驻住拽转*/
}

#Online-Attack-Section p:not(:first-of-type)::before {
    content: " ";
    /*拽专  注 驻住拽转*/
}

#Online-Attack-Section p:last-of-type {
    padding-bottom: 1.3rem;
    /*拽专  注 驻住拽转, 专 专  驻专 */
}

#Online-Attack-Section h2 {
    padding: 1rem 0 0 0.5rem;
    /*砖 注*/
    color: var(--color-5);
    text-transform: uppercase;
    font-family: var(--font-5);
}

#Online-Attack-Section h2::before {
    content: url(violence-online.svg) "  ";
    /*拽 */
}

/* INDEX-PAGE VIOLENCE IMAGE SECTION */
/*状 : 专拽  砖 转转  注专 转 砖 注 砖 */
#Violence-Image-Section img {
    outline: 2.5px solid var(--color-9);
    border: 2.5px solid #8EBFE6;
    border-radius: 3px;
    display: block;
    width: 80%;
    /*驻砖专 转 砖  爪祝 拽专 砖专 转   注 住 拽*/
    margin: 1rem auto 2rem;
}

#Violence-Image-Section {
    margin: 1rem auto;
    /*专 转  砖 */
    text-align: center;
    /*专 转 转 */
    background: url(violence-online.svg) center;
    background-size: 4.1rem;
    background-color: #f8f0e3a4;
    background-blend-mode: overlay;
    border: 1px var(--color-1) solid;
    border-radius: 5px;
    padding: 1rem 0.8rem;
}

#Violence-Image-Section>div {
    background-color: #ffffffbb;
    padding: 0.4rem;
    border: 1px var(--color-8) solid;
    border-radius: 5px;
}

#Violence-Image-Section::before {
    background: rgba(255, 0, 0, 0.5)
}

#Violence-Image-Section h2 {
    color: var(--color-10);
    /* 注 注专 注  状专拽状*/
    text-decoration-color: #006D77;
    /* 转 砖 专拽 爪注 拽 转转 拽 转 状状  爪专 拽 砖 */
}

#Violence-Image-Section p {
    margin: 0.6rem 0;
    /*驻专 转 拽注 专   转专转  专砖*/
}

#Violence-Image-Section p::before {
    content: " ";
}

#Violence-Image-Section ol {
    width: fit-content;
    margin: 0 auto;
    /*专 转  砖 */
}

#Violence-Image-Section li {
    list-style-position: inside;
    color: var(--color-7);
    font-weight: 200;
    font-family: var(--font-4);
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.4;
    background-color: var(--color-9);
    text-align: left;
    list-style-type: lower-roman;
    padding-left: 1rem;
    width: 92%;
    margin: 0 auto;
}


#Violence-Image-Section mark {
    background-color: var(--color-11);
    width: fit-content;
    margin: 0 auto;
    padding: 0 0.2rem;
    font-weight: bold;
    color: inherit;
    /*砖住转 爪注 转 转专转 转 砖状专拽状  专砖 爪注   爪转 转 驻 状*/
}


/* BLOCKQUOTE-1 CLASS (USED IN: INDEX) */
.Blockquote-1 {
    background-color: var(--color-9);
    border-radius: 10px;
    text-align: justify;
    padding: 0.6em 2rem;
    margin: 1.5rem auto;
    /*砖专 转 转 拽专 住祝 专 驻 专 砖砖 驻爪 砖 转 拽住 注转*/
    display: block;
    width: 80%;
    /*80  拽专 砖*/
    border: 3px solid var(--color-6);
    box-sizing: border-box;
    /*  注 注 住  拽 注 住专转 转 */
}

.Blockquote-1 h3 {
    padding-bottom: 0.8rem;
    color: var(--color-8);
    font-size: 1.5rem;
}

.Blockquote-1 li {
    font-style: italic;
    line-height: 1.5;
    list-style-position: outside;
    font-size: 1.2rem;

}

.Blockquote-1 li:nth-child(odd) {
    color: var(--color-10);
    /*爪注   专  */
}

.Blockquote-1 li:nth-child(even) {
    color: var(--color-8);
    /*爪注 专  专 */
}

/* BLOCKQUOTE 1's AUDIO (USED IN: INDEX) */
.Blockquote-1 audio {
    margin-top: 1rem;
    border: 1px solid var(--color-7);
    border-radius: 50px;
    width: 90%;
    /*专 专住驻住 驻 */
    height: 2.5rem;
}

/* TABLE-1 CLASS (USED IN: INDEX)*/
.Table-1 {
    border-collapse: collapse;
    /*转拽 转 转 注专转 砖 专专转 */
    border: 2px solid var(--color-8);
    /* 转 注 住转  */
    width: 98%;
    /*90% vs 98% = ?*/
    /* width: 90% vs 98% = ? */
    margin: 1rem auto;
    /*专 转  砖 */
    display: block;
    overflow-x: auto;
    /*驻砖专 专住驻爪转 */
}

.Table-1 caption {
    font-style: italic;
    font-family: var(--font-3);
    text-transform: uppercase;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    border-top: 1px solid var(--color-8);
    border-left: 1px solid var(--color-8);
    border-right: 1px solid var(--color-8);
    background-color: var(--color-6);
}

.Table-1 td {
    border: 1px solid var(--color-8);
    /* 转 拽 转 转 */
    padding: 0.5rem;
}

.Table-1 th {
    color: var(--color-10);
    border: 2px solid var(--color-8);
    /* 转 注  转专转 */
    padding: 0.2rem 0;
}

.Table-1 tbody tr:nth-child(odd) {
    background-color: var(--color-2);
}

.Table-1 tr td:first-child {
    text-align: center;
    font-weight: bold;
}

/** ALL PAGES' FOOTER **/
footer {
    background-color: var(--color-1);
    padding: 1rem;
    text-align: center;
}

footer nav ul li {
    background-color: var(--color-8);
    list-style: none;
    display: inline-block;
    margin: 0 0.4rem;
    border-radius: 14px;
    border: 1px solid var(--color-12);
}

footer nav ul li:hover {
    background-color: var(--color-10);
    transition: 0.3s;
    border: 1.5px solid var(--color-8);
}

footer nav a {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    color: var(--color-4);
    font-family: var(--font-6);
    font-size: 0.8rem;
}

footer nav a:hover {
    color: var(--color-1);
    padding: 0.4rem 1.5rem;
    transition: 0.5s;
}

/* ABOUT-PAGE SPECIFIC STYLES */
#About-Section-1 {
    margin: 0 auto 1rem;
}

#About-Section-1 p {
    padding: 0.3rem 0 0.9rem;
}


#About-Section-1 ul {
    list-style-type: square; /* 住 转 专注 */
    margin-right: 2rem; /*   */
    padding-bottom: 1rem;
}

#About-Section-1 li {
    line-height: 1.6;
    color: var(--color-10);
}


/* TALI GAZIT SECTION */
#Tali-Gazit-Section {
    overflow: hidden; /* 驻 爪壮: 转 爪驻 砖 拽注 注 转 */
}

#Tali-Image-Wrapper {
    float: right; /* 转 爪驻  */
    margin-left: 1.5rem; /* 专 砖 转 */
    width: 30%; /* 专 转 */
    border: 1px solid var(--color-7);
    padding: 1rem;
    background-color: var(--color-2);
    border-radius: 5px;
    text-align: center; 
}


#Tali-Image-Wrapper img {
    max-width: 100%; /* 转 专住驻住转 */
    height: auto;
    display: block; /* 注转 专 转专 转转 转 */
    margin: 0 auto 0.5rem; /* 专 拽  */
    border-bottom: 1px solid var(--color-7);
}

#Tali-Image-Wrapper dl {
    margin: 0 auto; /* 专 专砖转 专转 */
    width: fit-content; /* 专 专砖 爪爪 转 */
}


#Tali-Gazit-Section p {
    padding-bottom: 0.8rem; /* 专  驻住拽转 */
    text-align: justify; /* 砖专 拽住 砖 爪 */
}


/* CONTACT FORM CLASSES */

.Contact-Form {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--color-13);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.Contact-Form fieldset {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--color-8);
    border-radius: 5px;
    background-color: var(--color-14);
}

.Contact-Form legend.Form-Legend {
    padding: 0 1rem;
    color: var(--color-8);
    font-weight: bold;
    font-family: var(--font-3);
}

.Contact-Form label {
    display: block;
    margin: 1rem 0 0.5rem;
    color: var(--color-10);
    font-weight: bold;
}

.Contact-Form input[type="text"],
.Contact-Form input[type="email"],
.Contact-Form select, /*拽专  驻住*/
.Contact-Form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--color-8);
    border-radius: 4px;
    background-color: var(--color-15);
    font-family: var(--font-2);
    box-sizing: border-box; /*注 注 砖拽住  爪祝*/
}

.Contact-Form input[type="radio"],
.Contact-Form input[type="checkbox"] {
    margin-left: 0.5rem;
}

.Contact-Form input[type="radio"]:hover,
.Contact-Form input[type="checkbox"]:hover{
    cursor: pointer; /*驻 驻专 砖 拽拽 砖专  ( 砖 转专 拽)*/
}

.Choices-Labels:hover{ /*  爪拽拽住 专  转祝 拽住*/
    cursor: url('hand-pointer.svg'), pointer; /*拽住 驻专 ( 转 爪专)*/
}

.Contact-Form input[type="radio"] + label,
.Contact-Form input[type="checkbox"] + label { /*+     驻 爪壮 壮驻*/
    display: inline-block;
    margin: 0 0 0 1rem;
    font-weight: normal;
}

.Contact-Form button {
    padding: 0.8rem 2rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--color-8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Contact-Form button[type="reset"] {
    background-color: var(--color-5);
}
.Contact-Form button:hover {
    background-color: var(--color-10);
}

/* RESPONSIVITY */

/* 爪转 驻转专 专住驻住 爪专  砖转 */

/*  拽砖专 转专 */

/* 专  驻转专    拽砖转 爪壮 砖驻专  拽注 */

@media (max-width: 380px) {
    header h1 {
        margin: 0 auto 0.6rem;
        position: static;
        padding-left: 0 !important;
        font-size: 0.62rem;
        width: auto !important;
    }

    header {
        text-align: center !important;
    }

    header nav {
        position: static;
        padding: 1px
    }

    header nav a,
    footer nav a {
        padding: 0.3rem 0.6rem;
        font-size: 0.87rem;
    }

    footer nav a:hover,
    header nav a:hover {
        padding: 0.4rem 0.7rem;
    }

    footer nav ul li,
    header nav ul li {
        margin: 0 0 0.3rem !important;
    }

    #Tali-Image-Wrapper {
        width: 80%; 
        margin: 1rem auto; 
        padding: 0.4rem;

    }
    #Tali-Gazit-Section p {
        text-align: right; 
    }
    #Tali-Gazit-Section p:last-of-type {
        padding-top:1rem;
        text-align: left;
    }

}

@media (max-width: 640px) {
    header nav {
        top: 1rem !important;
    }

    #Violence-Image-Section h2 {
        font-size: 0.8rem
    }

    #Violence-Image-Section p,
    #Violence-Image-Section ol li {
        font-size: 0.7rem
    }

    header h1 {
        width: 6rem;
        font-size: 1.12rem !important;
        height: auto !important;
        padding-left: 0.4rem;
    }

    .Blockquote-1 {
        font-size: 0.94rem;
    }

    .Blockquote-1 h3 {
        font-size: 1.06rem;
    }

    .Table-1 * {
        font-size: 0.8rem !important;
    }
    #Tali-Image-Wrapper {
         width: 50%; 
    }

}

@media (max-width: 692px) {

    .Blockquote-1 li,
    .Table-1 th,
    #Violence-Image-Section li {
        font-size: 1rem;
    }

    h2,
    .Blockquote-1 h3 {
        font-size: 1.12rem;
    }

    p,
    .Table-1 td {
        font-size: 0.94rem;
    }

    #Online-Attack-Section h2::before {
        content: url(online-violence-small.svg) " ";
    }
}

@media (min-width: 420px) {
    header nav {
        right: 1rem
    }
}

@media (min-width: 425px) {
    header nav {
        right: 1.5rem
    }
}

@media (min-width: 435px) {
    header nav {
        right: 1.7rem
    }
}

@media (min-width: 440px) {
    header nav {
        right: 1.7rem
    }
}

@media (max-width: 726px) {
    header h1 {
        height: 2rem;
        font-size: 1.5rem;
        padding-top: 0.4rem;
        padding-left: 0.8rem;
    }
}

@media (min-width: 726px) {
    header h1 {
        height: 2rem;
        font-size: 1.5rem;
        padding-top: 0.4rem;
        padding-left: 0.8rem;
    }

    header nav {
        right: 3rem;
    }

    #Tali-Image-Wrapper {
        width: 30%; 
    }
}
