
    /** ALL PAGES - GENERAL **/
html {
    font-size: 16px;
    font-family: var(--font-2);
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-3);
}

h1 {
    font-family: var(--font-1);
    color: var(--color-8);
}

h2 {
    font-family: var(--font-6);
}

p {
    font-size: 1.1rem;
    font-family: var(--font-2);
}

p > q, p > cite {
    color: var(--color-8); /* 状拽状 状住状 砖爪 砖专转 转 状驻专祝状,  爪注 */
    font-weight: bold;
}

:root {
    /* FONTS */
    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Cardo', serif;
    --font-3: 'Lato', sans-serif;
    --font-4: 'Playfair Display', serif;
    --font-5: 'Abril Fatface', serif;
    --font-6: 'Yeseva One', serif;
    /* COLOR PALETTE */
    --color-1: #F8F9FA; /* Header + Footer bg-color*/
    --color-2: #E9ECEF; /*.Table-1 color*/
    --color-3: #F8F0E3; /* Main-ection-1 color*/
    --color-4: #D3E3FC;
    --color-5: #e25055;
    --color-6: #E5989B; /*.Table-1 + img border color*/
    --color-7: #591F0B;/* Img article list*/
    --color-8: #006D77;
    --color-9: #D3E3FC79; /* Color 4 - opacity*/
    --color-10: #144552;
    --color-11: #E5989B84;/* Color 5 - opacity*/

}

    /** ALL PAGES' HEADER **/
header {
    background-color: var(--color-1);
    position: relative;
    padding: 0.3rem;
}

header h1 span {
    color: var(--color-6);    /*爪注 砖 转 专砖 砖  */
    text-shadow: -1px 1px var(--color-7);
}

header nav {
    position: absolute;
    top: 0.4rem;
    right: 0.3rem;
}

header nav ul li {
    background-color: var(--color-8);    /* 爪注 专拽注 驻转专  */
    list-style: none;
    display: inline-block;
    margin: 0 0.4rem;    /* 专  驻转专  */
    border-radius: 14px;
}

header nav ul li:hover {         /* 专 爪注 专拽注 砖 驻转专 + 转 */
    background-color: var(--color-10);
    transition: 0.5s;
    border: 2px solid var(--color-8);
}

header nav a {
    text-decoration: none;
    padding: 0.4rem 1rem;     /* 驻 驻转专 */
    display: inline-block;
    color: var(--color-4);
    font-family: var(--font-6)     /* 爪注 拽住 驻转专 */
}

header nav a:hover {     /* 专 拽住 驻 */
    color: var(--color-1);
    padding: 0.4rem 1.5rem;
    transition: 0.5s;
}


    /* MAIN-SECTION-1 CLASS (USED IN: INDEX)*/
.Main-Section-1 {
    background-color: var(--color-3);
    padding: 1.2rem;
}

    /* ONLINE ATTACK ARTICLE (INDEX's 1st ARTICLE)*/
#Online-Attack-Article {
    margin:0 auto;
    width:90%;
}

#Online-Attack-Article p {
    padding:0.3rem 0 1.3rem;
}

#Online-Attack-Article h2 {
    padding:1rem 0 0 0.5rem; /*砖 注*/
    color: var(--color-5);
    text-transform: uppercase;
    font-family: var(--font-5);
}

#Online-Attack-Article h2::before {
    content: url(violence-online.svg) "  ";
}

    /* TABLE-1 CLASS (USED IN: INDEX)*/
.Table-1 {
    border-collapse: collapse; /*转拽 转 转 注专转 砖 专专转 */
    border: 2px solid var(--color-8);    /* 转 注 住转  */
    width: 90%;
    margin: 2rem auto;
    display: block;
    overflow-x: auto;
}

.Table-1 caption {
    font-style: italic;
    font-family: var(--font-3);
    text-transform: uppercase;
    padding: 0.5rem 0;
    font-size: 1.3rem ;
    border-top: 1px solid var(--color-8);
    border-left: 1px solid var(--color-8);
    border-right: 1px solid var(--color-8);
    background-color: var(--color-6);
}

.Table-1 td {
    border: 1px solid var(--color-8);    /* 转 拽 转 转 */
    padding: 0.5rem;
}

.Table-1 th {
    color: var(--color-10);
    border: 2px solid var(--color-8);    /* 转 注  转专转 */
    padding: 0.2rem 0;
}

.Table-1 tbody tr:nth-child(odd) {
    background-color: var(--color-2);
}

.Table-1 tr td:first-child {
    text-align: center;
    font-weight: bold;
}

    /* BLOCKQUOTE-1 CLASS (USED IN: INDEX) */
.Blockquote-1 {
    background-color:var(--color-9);
    border-radius: 10px;
    text-align: justify;
    padding: 0.6em 2rem;
    margin: 2rem auto 1rem; /*砖专 转 爪注 */
    display: block;
    width:80%;
}

.Blockquote-1 h3 {
    padding-bottom: 0.8rem;
    color: var(--color-8);
    font-size: 1.5rem;
}

.Blockquote-1 li {
    font-style: italic;
    line-height: 1.5;
    list-style-position: outside;
    font-size: 1.2rem;

}

.Blockquote-1 li:nth-child(odd) {
    color: var(--color-10);    /*爪注   专  */
}

.Blockquote-1 li:nth-child(even) {
    color: var(--color-8);    /*爪注 专  专 */
}

    /* BLOCKQUOTE 1's AUDIO */
.Blockquote-1 audio {
    margin-top: 1rem;
    border: 1px solid var(--color-7);
    border-radius: 50px;
    width: calc(100% - 1rem);    /*专 专住驻住 驻 */
    height: 2.5rem;
}

    /* INDEX-PAGE VIOLENCE IMAGE (3rd ARTICLE)*/
#Violence-Image-Article img {
    outline: 2.5px solid var(--color-9);
    border: 2.5px solid #8EBFE6;
    border-radius: 3px;
    display: block;
    width: calc(100% - 2.4rem); /*驻砖专 转 砖  爪祝 拽专 砖专 转   注 住 拽*/
    max-width: 710px; /* 转 转  710 驻拽住 注转 转专转 转专*/
    margin: 1rem auto 2rem;
}

#Violence-Image-Article {
    margin: 0 auto 1rem; /*专 转  砖 */
    max-width: 900px; /* 转 专  -900 驻拽住 注转 转专转 转专 砖 拽住*/
    text-align: center; /*专 转 转 */
    background: url(violence-online.svg) center;
    background-size: 4.1rem;
    background-color: #f8f0e3a4;
    background-blend-mode: overlay;
    border: 3px var(--color-8) solid;
    border-radius: 5px;
    padding: 1rem 0.8rem;
}

#Violence-Image-Article > div 
{
    background-color: #ffffffbb;
    padding: 0.4rem;
    border: 1px var(--color-8) solid;

    border-radius: 5px;
}

#Violence-Image-Article::before {
    background: rgba(255, 0, 0, 0.5)
}

#Violence-Image-Article h2 {
    color: var(--color-10);/* 注 注专 注  状专拽状*/
    text-decoration-color: #006D77; /* 转 砖 专拽 爪注 拽 转转 拽 转 状状  爪专 拽 砖 */
}

#Violence-Image-Article p {
    margin: 0.6rem 0; /*驻专 转 拽注 专   转专转  专砖*/
}

#Violence-Image-Article p::before {
content: " " ;
}

#Violence-Image-Article ol {
    width:fit-content;
    margin:0 auto;
}
#Violence-Image-Article li {
    list-style-position: inside;
    color: var(--color-7);
    font-weight: 200;
    font-family: var(--font-4);
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.4;
    background-color: var(--color-9);
    text-align: left;
    list-style-type:lower-roman;
    padding-left:1rem;
    width: 92%;
    margin: 0 auto;
}


#Violence-Image-Article mark {
    background-color: var(--color-11);
    width: fit-content;
    margin: 0 auto;
    padding:0 0.2rem;
    font-weight: bold;
    color: inherit; /*砖住转 爪注 转 转专转 转 砖状专拽状  专砖 爪注   爪转 转 驻 状*/
}


    /** ALL PAGES' FOOTER **/
footer {
    background-color: var(--color-1);
    padding: 1rem;
    text-align: center;
    outline: 1px solid var(--color-7);
    /* border-bottom: 1px solid var(--color-7);  */
}

footer nav ul li {
    background-color: var(--color-8);
    list-style: none;
    display: inline-block;
    margin: 0 0.4rem;
    border-radius: 14px;
}

footer nav ul li:hover {
    background-color: var(--color-10);
    transition: 0.3s;
    border: 1.5px solid var(--color-8);
}

footer nav a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    display: inline-block;
    color: var(--color-4);
    font-family: var(--font-6);
}

footer nav a:hover {
    color: var(--color-1);
    padding: 0.4rem 1.5rem;
    transition: 0.5s;
}



    /* RESPONSIVITY */

/* 爪转 驻转专 专住驻住 爪专  砖转 */

/*  拽砖专 转专 */

/* 专  驻转专    拽砖转 爪壮 砖驻专  拽注 */



@media (max-width: 375px) {
    header h1 {
        margin: 0 auto;
        position: static ;
        padding: 0 !important;
        font-size: 0.62rem;
        width: auto !important;
    }

    header {
        text-align: center !important;
    }

    header nav {
        position:static;
        /* Disabled the position:relative.*/
    }

    footer nav li a {
        font-size: 0.87rem !important;
    }

    .Main-Section-1
    {
        padding:0.1rem !important;
    }
}

@media (max-width: 640px) {
    header nav {
        padding-top: 0.4rem !important;
        top: 0.8rem !important;
    }

    header nav li {
        margin: 0 !important;
    }

    header h1 {
        width: 6rem;
        font-size: 1.12rem !important;
        height: auto !important;
        padding-left: 0.4rem;
    }

    .Blockquote-1, .Section-1 p {
        font-size: 0.94rem;
    }

    .Blockquote-1 h3 {
        font-size: 1.06rem;
    }

    .Table-1 * {
        font-size: 0.8rem !important;
    }

}

@media (max-width: 692px) {

    .Blockquote-1 li, .Table-1 th, #Violence-Image-Article li {
        font-size: 1rem;
    }

    h2, .Blockquote-1 h3 {
        font-size: 1.12rem;
    }

    p, .Table-1 td {
        font-size: 0.94rem ;
    }

    #Online-Attack-Article h2::before {
        content: url(online-violence-small.svg) " ";
    }    
}

@media (max-width: 726px) {
    header h1 {
        height: 2rem;
        font-size: 1.5rem;
        padding-top: 0.4rem;
        padding-left: 0.8rem;
    }

    header nav {
        top: 0.5rem;
    }
}



