/*GENERAL*/

*
{
    margin:0;
    padding:0;
}

body
{
    font:Arial,sans-serif;
    font-size:15px
}

h1
{
    font-family: 'Crete Round',serif;
    font-size:45px;
    color:#444;
}

ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}
.wrapper
{
    width:940px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange 
{
    color:orange;
}

/*HEADER*/

body header div
{
    height:120px;
    background-color:beige;
}

header h1 
{
    float:left;
    margin-top:32px
}

header nav 
{
    float:right;
    margin-top:50px
}


header nav ul li 
{
    display:inline-block;
    margin-right: 10px;
    float:left;

}

header nav ul li a
{
    text-transform:uppercase;
    font-weight: bold;
}

